{% extends 'products/base.html' %}

{% block content %}
    <h1 class="my-4">{% if request.path == '/new' %} Novo produto {% else %} Editar - {% endif %}
        {% if request.path != '/new' %}<small>{{ product.name }}</small>{% endif %}
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" {% if request.path == '/new' %} value="Adicionar" {% else %} value="Update" {% endif %} class="btn btn-success"/>
                <a href="{% url 'product_list' %}"><button type="button" class="btn btn-secondary">Voltar</button></a>
            </form>
        </div>
    </div>
{% endblock %}