{% extends 'products/base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>Lista de produtos</small>
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Remover</th>
                </tr>
              </thead>
              <tbody>
                {% for product in object_list %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td><a href="{% url 'product_view' product.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Ver</button></a></td>
                    <td><a href="{% url 'product_delete' product.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Apagar</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            Ainda não há produto. Mas se quiser, você pode adicionar de <a class="badge badge-info" href="{% url 'product_new' %}"><strong>aqui.</strong></a>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}